{% extends "base.html.twig" %}

{% block title %}
	Modifier une catégorie
{% endblock %}

{% block body %}
	<h1>Modification de la catégorie
		{{ category.name }}
	</h1>
	{{form_start(formView)}}

	<div class="row">
		<div class="col">
			{{form_widget(formView)}}
		</div>
	</div>
	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>
		Enregistrer les Changements
	</button>
	{{ form_end(formView) }}
{% endblock %}
