<h1>Consultation du produit
	{{ product.name }}</h1>

<h2>Détails du produit</h2>

<ul>
	<li>Prix :
		{{ product.price }}</li>
	<li>Slug :
		{{ product.slug }}</li>
</ul>
{% apply inline_css %}
<style>
	body {
		background-color: #046369;
	}
	h1 {
		color: #f6a702;
	}
	h2 {
		color: #e9e9f2;
	}
</style>
{% endapply %}
