{% extends "base.html.twig" %}

{% block title %}
	Hello
	{{ prenom }}
{% endblock %}

{% block body %}
	<h1>
		Hello
		{{ prenom }}
	</h1>

	<h2>Nos Formateurs</h2>
	{% for formateur in formateurs %}
		{% include "_formateur.html.twig"  with {"formateur": formateur} %}
	{% endfor %}

{% endblock %}
